.btn {
  @extend
  %u-depth-1,
  %u-no-border,
  %u-no-border-radius,
  %u-cursor-pointer;
  font-size: 1em;
  transition-duration: 150ms;
  transition-property: box-shadow, background-color, transform;
  transition-timing-function: ease;

  &:not(.is-inactive) {
    &:active,
    &:focus {
      @extend
      %u-depth-0;
      transform: translatey($spacing-short * 2);
    }
  }

  &.is-primary {
    background-color: $primary-color;
    color: $color-white;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }

    &.is-inactive {
      cursor: not-allowed;

      &:hover {
        background-color: $primary-color;
        opacity: 1;
      }
    }
  }

  &.is-secondary {
    background-color: $color-gray-100;
    border: $spacing-short solid $primary-color;
    color: $primary-color;
  }

  &.is-danger {
    background-color: $color-gray-100;
    border: 1px solid $color-red-600;
    color: $color-red-600;
  }

  &.is-small {
    font-size: .7em;
  }

  &.is-inactive {
    border-color: $color-gray-500;
    color: $color-gray-500;
    cursor: not-allowed;

    &:focus,
    &:active {
      @extend
      %u-depth-1;
    }
  }
}
