$spacing-short: 1px;
$spacing-large: $spacing-short * 8;
$grid-scale: 10;
$directions: top, right, bottom, left;

// font-weight
%u-bold { font-weight: bold; }
%u-no-bold { font-weight: normal; }

// font-style
%u-italic { font-style: italic; }
%u-no-italic { font-style: normal; }

// font-size
%u-font-size-normal { font-size: 1em; }

// font-weight
%u-font-weight-normal { font-weight: normal; }

// text-align
%u-text-align-left { text-align: left; }
%u-text-align-center { text-align: center; }
%u-text-align-right { text-align: right; }
%u-text-align-justify { text-align: justify; }

// text-decoration
%u-underline { text-decoration: underline; }
%u-stike { text-decoration: line-through; }
%u-no-text-decoration { text-decoration: none; }

// text-transform
%u-uppercase { text-transform: uppercase; }
%u-lowercase { text-transform: lowercase; }
%u-no-text-transform { text-transform: none; }
%u-capitalize { text-transform: capitalize; }

// height
%u-height-100 { height: 100%; }
%u-min-height-100vh { min-height: 100vh; }
%u-max-height-100vh { max-height: 100vh; }
%u-height-minmax-100vh { max-height: 100vh; }

// width
%u-width-100 { width: 100%; }

// position
%u-position-absolute { position: absolute; }
%u-position-relative { position: relative; }
%u-position-fixed { position: fixed; }
%u-position-static { position: static; }

// border
%u-no-border { border: 0; }

// border-radius
%u-no-border-radius { border-radius: 0; }

// padding
%u-no-padding { padding: 0; }

// margin
%u-margin-0-auto { margin: 0 auto; }
%u-no-margin { margin: 0; }

%u-margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

@for $index from 0 through $grid-scale {
  %u-padding-#{ $index } { padding: ( $spacing-large * $index ); }
  %u-margin-#{ $index } { margin: ( $spacing-large * $index ); }

  %u-padding-vertical-#{ $index } {
    padding-bottom: $spacing-large * $index;
    padding-top: $spacing-large * $index;
  }

  %u-padding-horizontal-#{ $index } {
    padding-left: $spacing-large * $index;
    padding-right: $spacing-large * $index;
  }

  %u-margin-vertical-#{ $index } {
    margin-bottom: $spacing-large * $index;
    margin-top: $spacing-large * $index;
  }

  %u-margin-horizontal-#{ $index } {
    margin-left: $spacing-large * $index;
    margin-right: $spacing-large * $index;
  }

  @each $direction in $directions {
    %u-padding-#{ $direction }-#{ $index } {
      padding-#{ $direction }: ( $spacing-large * $index );
    }

    %u-margin-#{ $direction }-#{ $index } {
      margin-#{ $direction }: ( $spacing-large * $index );
    }
  }
}

// display
%u-display-flex { display: flex; }
%u-display-block { display: block; }
%u-display-inline-block { display: inline-block; }
%u-display-none { display: none; }

// flex-direction
%u-flex-direction-row { flex-direction: row; }
%u-flex-direction-column { flex-direction: column; }

// flex-wrap
%u-flex-wrap-wrap { flex-wrap: wrap; }
%u-flex-wrap-wrap-reverse { flex-wrap: wrap-reverse; }
%u-flex-wrap-nowrap { flex-wrap: nowrap; }

// align-items
%u-flex-align-items-center { align-items: center; }
%u-flex-align-items-flex-start { align-items: flex-start; }
%u-flex-align-items-flex-end { align-items: flex-end; }
%u-flex-align-items-stretch { align-items: stretch; }
%u-flex-align-items-baseline { align-items: baseline; }

// justify-content
%u-flex-justify-content-center { justify-content: center; }
%u-flex-justify-content-flex-start { justify-content: flex-start; }
%u-flex-justify-content-flex-end { justify-content: flex-end; }
%u-flex-justify-content-space-around { justify-content: space-around; }
%u-flex-justify-content-space-between { justify-content: space-between; }

// shortcuts flex
%u-flex-total-centered {
  @extend
  %u-flex-align-items-center,
  %u-flex-justify-content-center;
}

%u-flex-column-between {
  @extend
  %u-flex-direction-column,
  %u-flex-justify-content-space-between
}

%u-flex-column-between-centered {
  @extend
  %u-flex-column-between,
  %u-flex-align-items-center
}

// outline
%u-outline-none {
  outline: none;
  outline-color: transparent;
}

// cursor
%u-cursor-pointer { cursor: pointer; }

// ::before and ::after
%u-content-empty { content: ''; }

// depth
%u-depth-0 { box-shadow: none; }

%u-depth-1 {
  $shadow-color-1: rgba(0, 0, 0, .12);
  $shadow-color-2: rgba(0, 0, 0, .24);
  box-shadow: 0 $spacing-short ($spacing-short * 3) $shadow-color-1,
    0 ($spacing-short) ($spacing-short * 2) $shadow-color-2;
}

%u-depth-2 {
  $shadow-color-1: rgba(0, 0, 0, .16);
  $shadow-color-2: rgba(0, 0, 0, .23);
  box-shadow: 0 ($spacing-short * 3) ($spacing-short * 6) $shadow-color-1,
      0 ($spacing-short * 3) ($spacing-short * 6) $shadow-color-2;
}

%u-depth-3 {
  $shadow-color-1: rgba(0, 0, 0, .19);
  $shadow-color-2: rgba(0, 0, 0, .23);
  box-shadow: 0 ($spacing-short * 10) ($spacing-short * 20) $shadow-color-1,
      0 ($spacing-short * 6) ($spacing-short * 6) $shadow-color-2;
}

%u-depth-4 {
  $shadow-color-1: rgba(0, 0, 0, .25);
  $shadow-color-2: rgba(0, 0, 0, .22);
  box-shadow: 0 ($spacing-short * 14) ($spacing-short * 28) $shadow-color-1,
      0 ($spacing-short * 10) ($spacing-short * 10) $shadow-color-2;
}

%u-depth-5 {
  $shadow-color-1: rgba(0, 0, 0, .3);
  $shadow-color-2: rgba(0, 0, 0, .22);
  box-shadow: 0 ($spacing-short * 19) ($spacing-short * 38) $shadow-color-1,
      0 ($spacing-short * 15) ($spacing-short * 12) $shadow-color-2;
}

// animations
%u-animation-forwards { animation-fill-mode: forwards; }
