.l-auth {
  @extend
  %u-height-minmax-100vh,
  %u-display-flex,
  %u-flex-column-between-centered;

  &::before {
    @extend
    %u-content-empty,
    %u-display-block,
    %u-width-100,
    %u-depth-1;
    background-color: $color-gray-50;
    flex: 1 1 65vh;
  }

  &::after {
    @extend
    %u-content-empty,
    %u-display-block,
    %u-width-100;
    background-color: $primary-color;
    flex: 1 1 35vh;
  }

  &__box {
    @extend
    %u-display-block,
    %u-position-absolute,
    %u-depth-1,
    %u-width-100;
    max-width: $spacing * 55;
    top: 20%;
    transition: box-shadow 250ms ease-in;

    &:hover {
      @extend
      %u-depth-2;
    }
  }
}
