.l-admin {
  background-color: $color-gray-50;

  &__nav {
    @extend
    %u-depth-2;
    height: 50px;
  }

  &__main {
    @extend
    %u-margin-horizontal-auto,
    %u-margin-top-3,
    %u-depth-1;
    box-sizing: border-box;
    max-width: 800px;
  }
}
