.l-evaluation {
  background-color: $color-gray-50;
  height: 100vh;
  overflow: hidden;

  &__nav {
    @extend %u-depth-2;
    height: 50px;
  }

  &__main {
    @extend
    %u-margin-horizontal-auto;
    margin-top: 1px;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    overflow-y: scroll;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: $spacing-large * 2 $spacing-large * 3;
  }

  &__content {
    @extend %u-depth-1;
    flex: 1 1 736px;
    margin-right: $spacing-large;
  }

  &__aside {
    flex: 0 10 400px;
    margin-left: $spacing-large;

    & > .c-box {
      @extend %u-depth-2;

      max-width: 400px;
      position: fixed;
    }
  }

  // in layout
  &__enunciado {
    border-bottom: 1px solid $color-gray-100;
  }

  &__enunciado-content {
    @extend
    %u-padding-vertical-1,
    %u-padding-horizontal-6,
    %u-display-flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__enunciado-text {
    margin-top: $spacing-large;
  }
}
