.c-box {
  background-color: $color-white;
  border-radius: $spacing-short * 3;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  max-height: 550px;
  overflow: hidden;
  position: relative;

  &.has-strip {
    &::before {
      @extend
      %u-content-empty,
      %u-display-block;
      background-color: $primary-color;
      border-top-left-radius: $spacing-short * 3;
      border-top-right-radius: $spacing-short * 3;
      height: $spacing-large / 2;
      width: 100%;
    }
  }

  &__header {
    @extend
    %u-display-flex,
    %u-flex-justify-content-space-between,
    %u-flex-align-items-center,
    %u-padding-vertical-2,
    %u-padding-horizontal-6;

    border-bottom: 1px solid $color-gray-100;
    height: 60px;
    min-height: 60px;
  }

  &__title {
    @extend
    %u-text-align-center;

    color: $color-gray-800;
    font-size: 1.8em;

    &.is-small {
      font-size: 1.2em;
    }
  }

  &__body {
    @extend
    %u-padding-vertical-1,
    %u-padding-horizontal-6,
    %u-display-flex;

    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
  }

  &__alert {
    @extend
    %u-depth-1,
    %u-position-absolute,
    %u-width-100;

    left: 0;
    top: 0;
    transform: translatey(calc(-100% - #{$spacing-large}));
  }

  &__item {
    @extend
    %u-margin-vertical-1,
    %u-display-flex,
    %u-flex-align-items-center;

    width: 100%;

    &.is-with-content-to-left {
      @extend
      %u-flex-justify-content-flex-start;
    }

    &.is-with-centralized-content {
      @extend
      %u-flex-justify-content-center;
    }

    &.is-with-content-to-right {
      @extend
      %u-flex-justify-content-flex-end;
    }

    &.is-with-the-content-justified {
      @extend
      %u-flex-justify-content-space-between;
    }

    &.is-column {
      @extend
      %u-flex-align-items-flex-start,
      %u-flex-direction-column;
    }
  }

  &__text {
    color: $color-gray-900;
    font-size: 1em;
  }

  &__link {
    color: $detail-color;
    font-size: 1em;
    margin: 0 $spacing-large;
    transition: color 250ms ease-in;

    &:hover {
      color: lighten($detail-color, 10%);
      text-decoration: none;
    }

    &.is-inactive {
      color: $color-gray-300;
      cursor: not-allowed;
    }
  }
}
