.c-box {
  background-color: $color-white;
  border-radius: 3px;
  overflow: hidden;

  &::before {
    @extend
    %u-content-empty,
    %u-display-block;
    background-color: $primary-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: $spacing-large / 2;
    width: 100%;
  }

  &__body {
    @extend
    %u-padding-vertical-4,
    %u-padding-horizontal-6,
    %u-display-flex,
    %u-flex-direction-column;
  }

  &__alert {
    @extend
    %u-depth-1,
    %u-position-absolute,
    %u-width-100;
    left: 0;
    top: 0;
    transform: translatey(calc(-100% - #{$spacing-large}));
  }

  &__title {
    @extend
    %u-text-align-center;
    color: $color-gray-800;
    font-size: 1.8em;
  }

  &__item {
    @extend
    %u-display-flex,
    %u-flex-align-items-center,
    %u-flex-justify-content-center,
    %u-margin-vertical-1;
  }

  &__group {
    @extend
    %u-display-flex,
    %u-flex-align-items-center,
    %u-flex-justify-content-space-between,
    %u-margin-vertical-1;
  }

  &__text {
    color: $color-gray-900;
    font-size: 1em;
  }

  &__link {
    @extend
    %u-margin-vertical-1;
    color: $detail-color;
    font-size: 1em;
    transition: color 250ms ease-in;

    &:hover {
      color: lighten($detail-color, 10%);
      text-decoration: none;
    }
  }
}
