.c-custom-input {
  @extend
  %u-display-flex,
  %u-flex-direction-column;

  &__label {
    @extend
    %u-display-none;
  }

  &__group {
    @extend
    %u-display-flex,
    %u-width-100;
    border: $spacing-short solid $color-gray-400;
    overflow: hidden;

    &.is-invalid {
      border-color: $warning;
    }
  }

  &__icon {
    @extend
    %u-display-flex,
    %u-flex-align-items-center,
    %u-padding-horizontal-1;
    background-color: $color-gray-50;
    border-right: $spacing-short solid $color-gray-400;
    color: $primary-color;
    font-size: .8em;
    font-weight: lighter;
    width: $spacing-large * 4;

    &.is-invalid {
      background-color: $secondary-color;
      border-color: $warning;
    }
  }

  &__field {
    @extend
    %u-width-100,
    %u-font-size-normal,
    %u-padding-left-1,
    %u-display-block,
    %u-no-border,
    %u-outline-none;
    color: $color-gray-700;
    line-height: 1.7;

    &.is-invalid {
      background-color: $secondary-color;
    }
  }

  &__warning {
    @extend
    %u-width-100,
    %u-text-align-right;
    color: $warning;
    font-size: .9em;
  }
}
